.am-search-input .am-search-synthetic-ph {
  line-height: 20px;
}
.am-button-small {
  position: absolute !important;
  z-index: 2;
  top: 1.65rem;
  right: -5px;
}
.move {
  text-align: center;
  font-size: .6rem;
  line-height: 1.5rem;
  color: #999;
}
.blue {
  color: #009cff;
}

.am-button {
  font-size: .6rem;
  height: 1.3rem !important;
  line-height: 1.3rem !important;
}

.am-list-item {
  padding-left: .5rem;
  min-height: 1.5rem;
}

.am-list-item .am-list-line {
  padding-right: .5rem;
}

.am-list-item .am-list-line .am-list-content {
  font-size: .6rem;
  line-height: 1.3rem;
}

.am-list-item .am-list-line .am-list-extra {
  font-size: .55rem;
  line-height: 1.3rem;
}

.am-list-item .am-list-line .am-list-arrow {
  width: .5rem;
  height: .5rem;
}
.am-search {
  height: 1.5rem;
  padding: 0 .3rem;
}
.am-search-input {
  height: 1rem;
}

.am-search-input .am-search-synthetic-ph-placeholder {
  font-size: .5rem;
}

.am-search-input .am-search-synthetic-ph-icon {
  width: .5rem;
  height: .5rem;
  background-size: .5rem auto;
  vertical-align: -.1rem;
}
.am-search-input .am-search-synthetic-ph {
  line-height: .6rem;
}

.am-search-input input[type="search"] {
  height: 1rem;
  font-size: .6rem;
  padding: 0 28px 0 1rem !important;
}

.am-search-cancel {
  padding-left: .5rem;
  height: 1.15rem;
  line-height: 1.15rem;
  font-size: .6rem;
}